@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');
/*font-family: 'Poppins', sans-serif;*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
section{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background:#232323;
    overflow:hidden;
    padding:100px 20px;
}
section:before{
    content:"";
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: #ef3b36;
    clip-path:circle(65% at 100% -20%);
}
section:after{
    content:"";
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: #47aafa;
    clip-path:circle(35% at 0% 100%);
}
.div-cont{
    position: relative;
    z-index:10;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
}
.div-cont .card{
    position: relative;
    width:300px;
    height:400px;
    margin:20px 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    background: rgba(255,255,255,0.05);
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    backdrop-filter:blur(15px);

}
.div-cont .card .imgbox{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    transition:0.5s ease-in-out;
}
.div-cont .card:hover .imgbox{
    transform:translateY(-100px);

}
.div-cont .card .imgbox img{
    max-width:100%;
    margin:0 0 20px;
    transition:0.5s ease-in-out;
}
.div-cont .card:hover .imgbox img{
    transform: translate(-20px,-40px) rotate(-25deg) scale(1.4);
}
.div-cont .card .imgbox h2{
    color: #fff;
    font-weight:600;
}
.div-cont .card .contant{
    position: absolute;
    bottom:-20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction :column;
    opacity:0;
    visibility: hidden;
    transition:.4s;
   
}
.div-cont .card:hover .contant{
    opacity:1;
    visibility: visible;
    transform: translateY(-50px);

}
.div-cont .card .contant .size,.div-cont .card .contant .color


{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:8px 20px;
}
.div-cont .card .contant .size h3,
.div-cont .card .contant .color h3{
    color:#fff;
    font-weight: 300;
    font-size: 14px;
    text-transform:uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.div-cont .card .contant .size span{
    width:26px;
    height:26px;
    text-align: center;
    line-height: 24px;
    display:inline-block;
    color:#111;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    margin:0 5px;
    font-weight: 500;
    transition:0.5s;
    cursor: pointer;

}
.div-cont .card .contant .size span:hover{
    background: #9bdc28;
}
.div-cont .card .contant .color span{
    width:20px;
    height:20px;
    background:#f00;
    border-radius:50%;
    margin:0 5px;
    border:2px solid #fff;
    box-sizing:border-box;
    cursor:pointer;
}
.div-cont .card .contant .color span:nth-child(2){
    background: #9bdc28;
}
.div-cont .card .contant .color span:nth-child(3){
    background: #03a9f4;
}
.div-cont .card .contant .color span:nth-child(4){
    background: #e91e63;
}
.div-cont .card .contant a{
    position: relative;
    top:10px;
    display: inline-block;
    padding:12px 30px;
    background:#fff;
    border-radius: 40px;
    font-weight:600;
    letter-spacing: 1px;
    color:#111;
    text-decoration:none;
    text-transform: uppercase;
}